<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="fr">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>Panier</title>

    <link rel="stylesheet" href="css/globals.css">
    <link rel="stylesheet" href="css/navbar.css">
    <link rel="stylesheet" href="css/cart.css">
</head>
<body>
    <nav id="navbar">
        <section class="left">
            <div class="logo-pedalize">
                <img src="static/img/graphic-logo-pedalize.svg" alt="Pedalize">
            </div>
        </section>

        <section class="buttons">
            <ul>
                <li>Boutique</li>
                <li>Notre savoir faire</li>
                <li>Contact</li>
            </ul>
        </section>

        <section class="right">
            <button class="burger-menu">
                <img src="static/img/burger-menu-icon.svg" alt="Burger menu">
            </button>
        </section>
    </nav>

    <main>
        <div class="the_cart">
            <h1>Votre panier</h1>
            <p>Vous n'êtes pas prêt à passer à la caisse ? <a id="continue_shopping" href="product_page.html">Continuer vos achats</a></p>

            <div class="product_list">
                <div class="product">
                    <div class="img" style="background: center url('static/img/test.jpg')"></div>
                    <div class="infos">
                        <h2>Name</h2>
                        <p>Quantité : 3</p>
                        <h3>56€</h3>
                    </div>
                    <div class="remove">
                        <p>Supprimer</p>
                    </div>
                </div>
                <div class="product">
                    <div class="img" style="background: center url('static/img/test.jpg')"></div>
                    <div class="infos">
                        <h2>Name</h2>
                        <p>Quantité : 3</p>
                        <h3>56€</h3>
                    </div>
                    <div class="remove">
                        <p>Supprimer</p>
                    </div>
                </div>
            </div>
        </div>

        <form class="summary" action="cart.html" method="post">
            <h2>Récapitulatif de la commande</h2>

            <label for="coupon" style="display: none">Code promotionnelle</label>
            <input type="text"
                   placeholder="Entrer un code promotionnelle"
                   name="coupon"
                   id="coupon">

           <div class="prices">
               <div class="full">
                   <p>Subtotal</p>
                   <p class="margin">200€</p>
               </div>
               <div class="full">
                   <p>Transport</p>
                   <p class="margin">Calculé à l'étape suivante</p>
               </div>
               <div class="sep"></div>
               <div class="full">
                   <p>Total</p>
                   <p class="margin">200€</p>
               </div>
           </div>

            <button type="submit">Continuer</button>
        </form>

    </main>

    <script src="js/burger-menu.js"></script>
</body>
</html>