<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="fr">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <link rel="stylesheet" href="css/globals.css">
    <link rel="stylesheet" href="css/navbar.css">
    <link rel="stylesheet" href="css/index.css">
    <title>Index</title>
</head>
<body>

    <br>

    <img class="center" src="static/img/logo-accueil.svg" alt="Logo officiel de Pedalize">

    <br><br>

    <button type="button" class="center button-magasin">Magasin</button>
    
    <br><br>

    <img class="center img-intro" src="static/img/intro-site.jpg" alt="Individu sur un vélo de descente">

    <br><br>

    <section class="container-center">
        <div>
            <img class="flex-marques" src="static/img/giant.svg" alt="Logo officiel de Giant">
        </div>
        <div>
            <img class="flex-marques" src="static/img/rockshox.svg" alt="Logo officiel de RockShox">

        </div>
        <div>
            <img class="flex-marques" src="static/img/scott.svg" alt="Logo officiel de Scott">

        </div>
        <div>
            <img class="flex-marques" src="static/img/fox.svg" alt="Logo officiel de Fox">
        </div>
    </section>



</body>
</html>