<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="fr">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <link rel="stylesheet" href="css/globals.css">
    <link rel="stylesheet" href="css/navbar.css">
    <link rel="stylesheet" href="css/index.css">
    <title>Pedalize</title>
</head>
<body>

    <br>

    <section class="main-part">
        <img class="center" src="static/img/logo-accueil.svg" alt="Logo officiel de Pedalize">

        <br><br>

        <button type="button" class="center button-magasin">Magasin</button>
    
        <br><br>
 
        <img class="center img-intro" src="static/img/intro-site-mobile.png" alt="Individu sur un vélo de descente">
    </section>

    <br><br>

    <section class="container-center">
        <div>
            <img class="flex-marques" src="static/img/giant.svg" alt="Logo officiel de Giant">
        </div>
        <div>
            <img class="flex-marques" src="static/img/rockshox.svg" alt="Logo officiel de RockShox">

        </div>
        <div>
            <img class="flex-marques" src="static/img/scott.svg" alt="Logo officiel de Scott">

        </div>
        <div>
            <img class="flex-marques" src="static/img/fox.svg" alt="Logo officiel de Fox">
        </div>
    </section>

    <section class="container-events">

        <br>

        <h2 class="txt-white txt-align">A ne pas manquer</h2>
        <hr class="light-line">

        <div class="event">
            <div>
                <img class="center" src="static/img/rampage.png" alt="Course Rampage">
            </div>
            <h3>
                Rampage
            </h3>
            <p>
                Compétition extrême de VTT en Utah, où les riders dévalent des pentes abruptes, effectuent des sauts audacieux et des acrobaties aériennes spectaculaires, confrontés à des obstacles techniques et dangereux.
            </p>
            <button type="button" class="button-discover center">
                <a href="https://www.redbull.com/fr-fr/events/red-bull-rampage">Découvrir</a>
            </button>
        </div>

        <div class="event">
            <div>
                <img class="center" src="static/img/mountain.png" alt="Course Mountain of Hell">
            </div>
            <h3>
                Mountain of Hell
            </h3>
            <p>
                Course de VTT en montagne exigeante mêlant des conditions variées, de la neige au terrain rocheux, mettant à l'épreuve l'habileté des coureurs sur des sentiers escarpés et exigeants.
            </p>
            <button type="button" class="button-discover center">
                <a href="https://www.les2alpes.com/ete/decouvrir/une-station-qui-bouge/des-temps-forts-tout-lete/mountain-of-hell/">Découvrir</a>
            </button>        
        </div>

        <br>

        <div class="event">
            <div>
                <img class="center" src="static/img/megavalanche.png" alt="Course Megavalanche">
            </div>
            <h3>
                Megavalanche
            </h3>
            <p>
                Course de descente de VTT qui commence sur un glacier et se termine en terrain alpin, obligeant les participants à s'adapter rapidement aux changements de terrain, de la neige aux sentiers rocailleux, tout en maintenant une vitesse élevée.
            </p>
            <button type="button" class="button-discover center">
                <a href="https://www.ucc-sportevent.com/megavalanche-alpe-dhuez-2/">Découvrir</a>
            </button>        
        </div>

        <br>

        <div class="event">
            <div>
                <img class="center" src="static/img/enduro-lion.png" alt="Course enduro du Lion">
            </div>
            <h3>
                Enduro du Lion
            </h3>
            <p>
                Organisée depuis 2015 dans le territoire de Belfort, l’Enduro du Lion est une course de VTT sensationnelle qui vous fera découvrir les forêts verdoyantes du Salbert et la citadelle de Belfort.
            </p>
            <button type="button" class="button-discover center">
                <a href="https://endurodulion.com/">Découvrir</a>
            </button>        
        </div>

        <br>
        <hr class="light-line">
        <br><br>

    </section>



</body>
</html>