<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="css/globals.css">
    <link rel="stylesheet" href="css/navbar.css">

    <title>navbar Template</title>
</head>
<body>
    <nav id="navbar">
        <section class="left">
            <div class="logo-pedalize">
                <img src="static/img/graphic-logo-pedalize.svg" alt="Pedalize">
            </div>
        </section>

        <section class="buttons">
            Hey !
        </section>

        <section class="right">
            <button class="burger-menu">
                <img src="static/img/burger-menu-icon.svg" alt="Burger menu">
            </button>
        </section>
    </nav>

    <script src="js/burger-menu.js" defer></script>
</body>
</html>