<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pedalized-Product Page</title>
    <link rel="stylesheet" href="css/product_page.css">
    <link rel="stylesheet" href="css/globals.css">
</head>
<body>

    <section class="main">
        <div class="images">
            <div class="main_image">
                <img src="/views/images/Rectangle 36.png" alt="premier image meta" >
            </div>
            <section class="other_images">
                <div class="second_image">
                    <img src="/views/images/Rectangle 37.png" alt="deuxieme image en bas a gauche">
                </div>

                <div class="third_image">
                    <img src="/views/images/Rectangle 38.png" alt="image au milleu" >
                </div>

                <div class="fourth_image">
                    <img src="/views/images/Rectangle 39.png" alt="image en bas a droite">
                </div>
            </section>
        </div>

        <div class="texte">
            <div class="modele">
                <h1>COMMENCAL meta sx v5</h1>
            </div>
            <div class="taille">
                <h2>Taille</h2>
                <br>
                <section class="frame_size">
                    <div class="box_frame_size">
                        <p class="size">S</p>
                    </div>

                    <div class="box_frame_size">
                        <p class="size">M</p>
                    </div>

                    <div class="box_frame_size">
                        <p class="size">L</p>
                    </div>

                    <div class="box_frame_size">
                        <p class="size">XL</p>
                    </div>
                </section>
                <br>
                

                <div class="guide_tailles">
                    <p class="guide_tailles">guide des tailles <img src="/views/images/Vector.png" alt="icon:?"></p>
                </div>
            </div>

            <div class="wheel_size">
                <h2>Taille des roues</h2>
                <section class="select_wheel_size">
                    <select name="wheel_size" id="wheel_size">
                        <option value="">29"</option>
                        <option value="1">27.5"</option>
                        <option value="2">26"</option>
                    </select>
            </section>
            </div>

            <div class="add_cart">
                <p>Ajouter au panier</p>
            </div>

            <div class="buy_now">
                <p>Acheter maintenant</p>
            </div>

        </div>
    </section>
    
</body>
</html>