@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    margin: 0;
    font-family: Poppins, sans-serif;
}

input {
    padding: 15px 25px;
    border: 1px solid #000;

    border-radius: 15px;
}

input::placeholder {
    color: rgba(0, 0, 0, 0.35)
}

button {
    padding: 15px 30px;
    background: #000;
    color: #fff;

    border: none;
    border-radius: 15px;

    font-size: 18px;
    font-weight: 600;
}