:root {
    --navbar-height: 100px;
}

#navbar {
    height: var(--navbar-height);
    background-color: #424242;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#navbar .logo, #navbar .logo svg {
    height: calc(var(--navbar-height)/2);
    width: auto;
}